html,
body {
    margin: 0;
    padding: 0;
}

#videoDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    position: relative;
}

#video1 {
    width: 50vw;
    height: auto;
    display: block;
}

#video2 {
    width: 50vw;
    height: auto;
    display: block;
}

#video3 {
    width: 50vw;
    height: auto;
    display: block;
}

#video4 {
    width: 50vw;
    height: auto;
    display: block;
}

#videoMessage {
    font-family: Helvetica;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}